@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

@font-face {
  font-family: "GothamNarrow";
  src: url("../fonts/GothamNarrow-Book.otf");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "GothamNarrow";
  src: url("../fonts/GothamNarrow-BookItalic.otf");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: "GothamNarrow";
  src: url("../fonts/GothamNarrow-Bold.otf");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Light.otf");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Bold.otf");
  font-weight: 700;
  font-style: normal; }
.gotham {
  font-family: "Gotham"; }

.gotham-narrow {
  font-family: "GothamNarrow"; }

/* Normalize
 * ------------------------------------------- */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Global
 * ------------------------------------------- */
*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

::-moz-selection {
  /* Code for Firefox */
  color: #333;
  background: lightblue; }

::selection {
  color: #333;
  background: lightblue; }

/* Links
 * ------------------------------------------- */
a {
  color: #b61f29;
  text-decoration: none;
  transition: all 250ms ease; }
  a:visited {
    color: #b61f29; }
  a:hover, a:focus, a:active {
    color: #00A6CE; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

/* Text meant only for screen readers.
 * ------------------------------------------------- */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 0.05469rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/* Clearings
 * ------------------------------------------------- */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }
.clearfix:after {
  clear: both; }

/* Typography
 * ------------------------------------------ */
html {
  font-size: 100%; }

body,
button,
input,
select,
textarea {
  color: #333;
  font-family: "GothamNarrow", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem; }

/* Headings
 * ------------------------------------------ */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.5em;
  margin-top: 1.5rem;
  margin-bottom: 0; }

h1, .h1 {
  font-size: 3rem;
  line-height: 1.2em;
  font-family: "Gotham", "Arial", sans-serif;
  font-weight: 700; }

h2, .h2 {
  font-size: 1.875rem;
  line-height: 1.2em; }

h3, .h3 {
  font-size: 1.25rem;
  line-height: 1.3em; }

h4, .h4 {
  font-size: 0.875rem;
  line-height: 1.4em; }

h5, .h5 {
  font-size: 1rem; }

h6, .h6 {
  font-size: 1rem; }

/* Copy
 * ------------------------------------------ */
p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0; }

ul, ol {
  margin: 0 0 1.5em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

b, strong {
  font-weight: bold; }

.light {
  font-weight: 300; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: #222;
  font-size: 1.5rem; }
  blockquote p {
    margin: 0; }

address {
  margin: 1.5rem 0 0; }

pre {
  background: #eee;
  font-family: "Menlo", monospace;
  font-size: 0.875rem;
  line-height: 1.6rem;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em; }

code, kbd, tt, var {
  font-family: "Menlo", monospace;
  font-weight: 400;
  background: #eee;
  color: #0071BC; }
  p code, p kbd, p tt, p var {
    padding: 0.25em;
    font-size: 0.875rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin: 2rem 0;
  width: 100%; }

small,
.small {
  font-size: 75%; }

big,
.big {
  font-size: 125%; }

.caps {
  text-transform: uppercase; }

.hug {
  margin-top: 0; }

.push {
  margin-top: 1.5rem; }

.push-double {
  margin-top: 3rem; }

@font-face {
  font-family: 'cgu-ui';
  src: url("../fonts/cgu-ui.eot?m43kkw");
  src: url("../fonts/cgu-ui.eot?m43kkw#iefix") format("embedded-opentype"), url("../fonts/cgu-ui.ttf?m43kkw") format("truetype"), url("../fonts/cgu-ui.woff?m43kkw") format("woff"), url("../fonts/cgu-ui.svg?m43kkw#drucker-ui") format("svg");
  font-weight: normal;
  font-style: normal; }
.icon, [class^="icon-"], [class*=" icon-"] {
  font-family: 'cgu-ui';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-logo:before {
  content: "\e900"; }

.icon-facebook:before {
  content: "\e606"; }

.icon-twitter:before {
  content: "\e602"; }

.icon-linkedin:before {
  content: "\e617"; }

.icon-youtube:before {
  content: "\e901"; }

.icon-google:before {
  content: "\e902"; }

.icon-close:before {
  content: "\e605"; }

.icon-arrow-up:before {
  content: "\e60c"; }

.icon-arrow-right:before {
  content: "\e60d"; }

.icon-arrow-down:before {
  content: "\e60e"; }

.icon-arrow-left:before {
  content: "\e60f"; }

.icon-search:before {
  content: "\e903"; }

.show {
  display: block; }

.hide {
  display: none; }

.inline {
  display: inline; }

.inline-block {
  display: inline-block; }

.outer-container {
  max-width: 62.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px; }
  .outer-container:before, .outer-container:after {
    content: "";
    display: table; }
  .outer-container:after {
    clear: both; }
  .outer-container:before, .outer-container:after {
    content: "";
    display: table; }
  .outer-container:after {
    clear: both; }
  .outer-container.bleed {
    padding-left: 0;
    padding-right: 0; }

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }
.clearfix:after {
  clear: both; }

.list-unstyled {
  padding-left: 0;
  margin-left: 0;
  list-style: none; }

a.no-decoration {
  text-decoration: none; }

.media-size {
  position: fixed;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.25);
  padding: 5px;
  color: #bbb;
  font-size: 12px; }
  .media-size:before {
    content: "default"; }
  @media screen and (min-width: 500px) {
    .media-size:before {
      content: "small"; } }
  @media screen and (min-width: 768px) {
    .media-size:before {
      content: "medium"; } }
  @media screen and (min-width: 1000px) {
    .media-size:before {
      content: "large"; } }
  @media screen and (min-width: 1500px) {
    .media-size:before {
      content: "xlarge"; } }

.breadcrumbs {
  font-weight: 400;
  margin-top: 1.5rem; }
  @media screen and (min-width: lg) {
    .breadcrumbs {
      margin-top: 2.5rem; } }
  .has-post-thumbnail .page-header .breadcrumbs, .has-hero-slider .page-header .breadcrumbs {
    color: white; }
    .has-post-thumbnail .page-header .breadcrumbs a, .has-hero-slider .page-header .breadcrumbs a {
      color: white; }
      .has-post-thumbnail .page-header .breadcrumbs a:hover, .has-hero-slider .page-header .breadcrumbs a:hover {
        color: #00A6CE; }
  .breadcrumbs span > span {
    font-weight: 500; }

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 0;
  border-radius: 0;
  background: #00A6CE;
  box-shadow: none;
  color: white;
  display: inline-block;
  font-family: "Gotham", "Arial", sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: none;
  text-align: center;
  font-size: 0.75rem;
  text-transform: uppercase;
  padding: 1.25em 2.5em;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: background 300ms ease;
  -moz-transition: background 300ms ease;
  transition: background 300ms ease; }
  button:visited,
  .button:visited,
  input[type="button"]:visited,
  input[type="reset"]:visited,
  input[type="submit"]:visited {
    background: #00A6CE;
    color: white; }
  button:hover, button:focus,
  .button:hover,
  .button:focus,
  input[type="button"]:hover,
  input[type="button"]:focus,
  input[type="reset"]:hover,
  input[type="reset"]:focus,
  input[type="submit"]:hover,
  input[type="submit"]:focus {
    background: #003f4f;
    color: white; }
  button:focus,
  .button:focus,
  input[type="button"]:focus,
  input[type="reset"]:focus,
  input[type="submit"]:focus {
    outline: none; }
  button[disabled],
  .button[disabled],
  input[type="button"][disabled],
  input[type="reset"][disabled],
  input[type="submit"][disabled] {
    background: lightgray;
    cursor: default; }

.dropdown-group:before, .dropdown-group:after {
  content: "";
  display: table; }
.dropdown-group:after {
  clear: both; }

@media screen and (min-width: 768px) {
  .dropdown-list-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .dropdown-list-item:last-child {
      margin-right: 0; }
    .dropdown-list-item:nth-child(2n) {
      margin-right: 0; }
    .dropdown-list-item:nth-child(2n+1) {
      clear: left; } }
.dropdown-list-item .dropdown-content {
  display: none; }
.dropdown-list-item .dropdown-title {
  position: relative;
  transition: all 300ms ease; }
  .dropdown-list-item .dropdown-title.active, .dropdown-list-item .dropdown-title:hover {
    color: #6c1218;
    cursor: pointer; }
  .dropdown-list-item .dropdown-title.active .icon:before {
    content: ""; }
.dropdown-list-item .icon {
  font-size: 1rem;
  position: absolute;
  right: 0;
  top: 0.5em; }

/* Forms
 * ------------------------------------------- */
label {
  display: block;
  width: 100%;
  padding-bottom: 0.25em; }
  label.inline {
    display: inline;
    width: auto;
    padding-bottom: 0; }

.cgu-form {
  margin: 1.5rem 0 0; }

.form-group {
  display: block;
  clear: both;
  margin-top: 1rem; }
  .form-group:before, .form-group:after {
    content: "";
    display: table; }
  .form-group:after {
    clear: both; }

input[type="text"].form-field,
input[type="email"].form-field,
input[type="url"].form-field,
input[type="password"].form-field,
input[type="search"].form-field,
input[type="number"].form-field,
input[type="tel"].form-field,
textarea.form-field {
  display: block;
  width: 100%;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 0.5em; }
  input[type="text"].form-field.inline,
  input[type="email"].form-field.inline,
  input[type="url"].form-field.inline,
  input[type="password"].form-field.inline,
  input[type="search"].form-field.inline,
  input[type="number"].form-field.inline,
  input[type="tel"].form-field.inline,
  textarea.form-field.inline {
    display: inline;
    width: auto; }
  input[type="text"].form-field:hover,
  input[type="email"].form-field:hover,
  input[type="url"].form-field:hover,
  input[type="password"].form-field:hover,
  input[type="search"].form-field:hover,
  input[type="number"].form-field:hover,
  input[type="tel"].form-field:hover,
  textarea.form-field:hover {
    color: #111; }
  input[type="text"].form-field:focus,
  input[type="email"].form-field:focus,
  input[type="url"].form-field:focus,
  input[type="password"].form-field:focus,
  input[type="search"].form-field:focus,
  input[type="number"].form-field:focus,
  input[type="tel"].form-field:focus,
  textarea.form-field:focus {
    color: #b61f29; }
  input[type="text"].form-field::-webkit-input-placeholder,
  input[type="email"].form-field::-webkit-input-placeholder,
  input[type="url"].form-field::-webkit-input-placeholder,
  input[type="password"].form-field::-webkit-input-placeholder,
  input[type="search"].form-field::-webkit-input-placeholder,
  input[type="number"].form-field::-webkit-input-placeholder,
  input[type="tel"].form-field::-webkit-input-placeholder,
  textarea.form-field::-webkit-input-placeholder {
    color: #e4e1d7; }
  input[type="text"].form-field::-moz-placeholder,
  input[type="email"].form-field::-moz-placeholder,
  input[type="url"].form-field::-moz-placeholder,
  input[type="password"].form-field::-moz-placeholder,
  input[type="search"].form-field::-moz-placeholder,
  input[type="number"].form-field::-moz-placeholder,
  input[type="tel"].form-field::-moz-placeholder,
  textarea.form-field::-moz-placeholder {
    color: #e4e1d7; }
  input[type="text"].form-field:-moz-placeholder,
  input[type="email"].form-field:-moz-placeholder,
  input[type="url"].form-field:-moz-placeholder,
  input[type="password"].form-field:-moz-placeholder,
  input[type="search"].form-field:-moz-placeholder,
  input[type="number"].form-field:-moz-placeholder,
  input[type="tel"].form-field:-moz-placeholder,
  textarea.form-field:-moz-placeholder {
    color: #e4e1d7; }
  input[type="text"].form-field:-ms-input-placeholder,
  input[type="email"].form-field:-ms-input-placeholder,
  input[type="url"].form-field:-ms-input-placeholder,
  input[type="password"].form-field:-ms-input-placeholder,
  input[type="search"].form-field:-ms-input-placeholder,
  input[type="number"].form-field:-ms-input-placeholder,
  input[type="tel"].form-field:-ms-input-placeholder,
  textarea.form-field:-ms-input-placeholder {
    color: #e4e1d7; }

/* Media
 * -----------------------------------------------------------*/
/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

figure {
  margin: 1.5rem 0 0; }

/* Responsive Media
 * -----------------------------------------------------------*/
[class*="responsive-media-"] {
  position: relative;
  height: 0;
  overflow: hidden; }
  [class*="responsive-media-"][class*="1x2"] {
    padding-top: 50%; }
  [class*="responsive-media-"][class*="16x9"] {
    padding-top: 56.25%; }
  [class*="responsive-media-"][class*="4x3"] {
    padding-top: 75%; }
  [class*="responsive-media-"][class*="1x1"] {
    padding-top: 100%; }
  [class*="responsive-media-"] iframe, [class*="responsive-media-"] video, [class*="responsive-media-"] object, [class*="responsive-media-"] img, [class*="responsive-media-"] .responsive-media-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }

.post-list .hentry {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .post-list .hentry:last-child {
    margin-right: 0; }
  .post-list .hentry:nth-child(5n) {
    margin-right: 0; }
  .post-list .hentry:nth-child(5n+1) {
    clear: left; }
  .post-list .hentry:first-child {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    .post-list .hentry:first-child:last-child {
      margin-right: 0; }
    .post-list .hentry:first-child .entry-title {
      font-size: 3.125rem;
      line-height: 3.5rem; }
  .post-list .hentry .entry-title {
    width: 100%; }

/* Tables
 * -----------------------------------------------------------*/
table {
  background-color: transparent;
  margin: 0 0 1.5em; }

caption {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  color: #aaa;
  text-align: left; }

th {
  text-align: left; }

.table {
  width: 100%;
  max-width: 100%; }
  .table > thead > tr > th,
  .table > tbody > tr > th,
  .table > tfoot > tr > th {
    font-family: "Gotham", "Arial", sans-serif; }
  .table > thead > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > th,
  .table > tbody > tr > td,
  .table > tfoot > tr > th,
  .table > tfoot > tr > td {
    padding: 0.25em 0;
    line-height: 1em;
    vertical-align: top; }
    .table > thead > tr > th:first-child ~ th, .table > thead > tr > th:first-child ~ td,
    .table > thead > tr > td:first-child ~ th,
    .table > thead > tr > td:first-child ~ td,
    .table > tbody > tr > th:first-child ~ th,
    .table > tbody > tr > th:first-child ~ td,
    .table > tbody > tr > td:first-child ~ th,
    .table > tbody > tr > td:first-child ~ td,
    .table > tfoot > tr > th:first-child ~ th,
    .table > tfoot > tr > th:first-child ~ td,
    .table > tfoot > tr > td:first-child ~ th,
    .table > tfoot > tr > td:first-child ~ td {
      padding-left: 0.25em; }
  .table > thead > tr > th {
    vertical-align: bottom; }
  .table > caption + thead > tr:first-child > th,
  .table > caption + thead > tr:first-child > td,
  .table > colgroup + thead > tr:first-child > th,
  .table > colgroup + thead > tr:first-child > td,
  .table > thead:first-child > tr:first-child > th,
  .table > thead:first-child > tr:first-child > td {
    border-top: 0; }
  .table .table {
    background-color: transparent; }

.table-ruled > thead > tr > th,
.table-ruled > thead > tr > td,
.table-ruled > tbody > tr > th,
.table-ruled > tbody > tr > td,
.table-ruled > tfoot > tr > th,
.table-ruled > tfoot > tr > td {
  border-top: 1px solid #e4e1d7; }
.table-ruled > thead > tr > th {
  border-bottom: 2px solid #e4e1d7; }
.table-ruled > tbody + tbody {
  border-top: 2px solid #e4e1d7; }

.table-bordered {
  border: 1px solid #e4e1d7; }
  .table-bordered > thead > tr > th,
  .table-bordered > thead > tr > td,
  .table-bordered > tbody > tr > th,
  .table-bordered > tbody > tr > td,
  .table-bordered > tfoot > tr > th,
  .table-bordered > tfoot > tr > td {
    border: 1px solid #e4e1d7;
    padding: 0.25em; }
  .table-bordered > thead > tr > th,
  .table-bordered > thead > tr > td {
    border-bottom-width: 2px; }

.table-striped > thead > tr > th,
.table-striped > thead > tr > td,
.table-striped > tbody > tr > th,
.table-striped > tbody > tr > td,
.table-striped > tfoot > tr > th,
.table-striped > tfoot > tr > td {
  padding: 0.25em; }
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f8f8f5; }

.table-hover > tbody > tr:hover {
  background-color: #e4e1d7; }

/* Slider */
.slick-slider {
  padding: 0;
  margin-top: 3rem; }

.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  z-index: 1;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px\9;
  /*lte IE 8*/
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: 20px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: 20px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: 20px; }
  [dir="rtl"] .slick-next {
    left: 20px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  color: white; }
  .site-header a {
    color: white;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 1.5em 1em;
    line-height: 1em; }
    .site-header a:hover, .site-header a:focus {
      opacity: 0.5; }
  .site-header .outer-container {
    background: #b61f29; }

.site-title {
  float: left;
  margin: 0;
  font-size: 0.9rem; }
  .site-title a {
    display: block; }

.site-nav {
  float: right; }
  .site-nav .menu {
    margin: 0; }
  .site-nav li {
    float: left; }
  .site-nav a {
    display: block; }
    .site-nav a:hover, .site-nav a:focus {
      opacity: 1;
      background-color: #8a181f;
      color: white; }

.doc-header {
  background: #fbf4f4;
  color: #b61f29;
  padding-top: 8rem;
  padding-bottom: 1rem; }

.doc-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .doc-content:last-child {
    margin-right: 0; }

.sidebar {
  margin-top: 3rem;
  border-top: 1px solid #e4e1d7;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .sidebar:last-child {
    margin-right: 0; }
  .sidebar a {
    font-weight: bold; }

.site-footer {
  background: #f2f0eb; }

.cgu-icon-set li {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-bottom: 1em;
  text-align: center;
  padding: 1em 0;
  border: 1px solid #ddd; }
  .cgu-icon-set li:last-child {
    margin-right: 0; }
  .cgu-icon-set li:nth-child(4n) {
    margin-right: 0; }
  .cgu-icon-set li:nth-child(4n+1) {
    clear: left; }
.cgu-icon-set [class*="icon-"] {
  display: block;
  font-size: 2rem;
  margin: 0.5em 0 1em; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff;
  font-family: "Source Code Pro", "Monaco", monospace;
  /* Comment */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */ }
  .highlight .hll {
    background-color: #ffffcc; }
  .highlight .c {
    color: #0099FF;
    font-style: italic; }
  .highlight .err {
    color: #AA0000;
    background-color: #FFAAAA; }
  .highlight .k {
    color: #006699;
    font-weight: bold; }
  .highlight .o {
    color: #555555; }
  .highlight .cm {
    color: #0099FF;
    font-style: italic; }
  .highlight .cp {
    color: #009999; }
  .highlight .c1 {
    color: #0099FF;
    font-style: italic; }
  .highlight .cs {
    color: #0099FF;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    background-color: #FFCCCC;
    border: 1px solid #CC0000; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #FF0000; }
  .highlight .gh {
    color: #003300;
    font-weight: bold; }
  .highlight .gi {
    background-color: #CCFFCC;
    border: 1px solid #00CC00; }
  .highlight .go {
    color: #AAAAAA; }
  .highlight .gp {
    color: #000099;
    font-weight: bold; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #003300;
    font-weight: bold; }
  .highlight .gt {
    color: #99CC66; }
  .highlight .kc {
    color: #006699;
    font-weight: bold; }
  .highlight .kd {
    color: #006699;
    font-weight: bold; }
  .highlight .kn {
    color: #006699;
    font-weight: bold; }
  .highlight .kp {
    color: #006699; }
  .highlight .kr {
    color: #006699;
    font-weight: bold; }
  .highlight .kt {
    color: #007788;
    font-weight: bold; }
  .highlight .m {
    color: #FF6600; }
  .highlight .s {
    color: #CC3300; }
  .highlight .na {
    color: #330099; }
  .highlight .nb {
    color: #336666; }
  .highlight .nc {
    color: #00AA88;
    font-weight: bold; }
  .highlight .no {
    color: #336600; }
  .highlight .nd {
    color: #9999FF; }
  .highlight .ni {
    color: #999999;
    font-weight: bold; }
  .highlight .ne {
    color: #CC0000;
    font-weight: bold; }
  .highlight .nf {
    color: #CC00FF; }
  .highlight .nl {
    color: #9999FF; }
  .highlight .nn {
    color: #00CCFF;
    font-weight: bold; }
  .highlight .nt {
    color: #330099;
    font-weight: bold; }
  .highlight .nv {
    color: #003333; }
  .highlight .ow {
    color: #000000;
    font-weight: bold; }
  .highlight .w {
    color: #bbbbbb; }
  .highlight .mf {
    color: #FF6600; }
  .highlight .mh {
    color: #FF6600; }
  .highlight .mi {
    color: #FF6600; }
  .highlight .mo {
    color: #FF6600; }
  .highlight .sb {
    color: #CC3300; }
  .highlight .sc {
    color: #CC3300; }
  .highlight .sd {
    color: #CC3300;
    font-style: italic; }
  .highlight .s2 {
    color: #CC3300; }
  .highlight .se {
    color: #CC3300;
    font-weight: bold; }
  .highlight .sh {
    color: #CC3300; }
  .highlight .si {
    color: #AA0000; }
  .highlight .sx {
    color: #CC3300; }
  .highlight .sr {
    color: #33AAAA; }
  .highlight .s1 {
    color: #CC3300; }
  .highlight .ss {
    color: #FFCC33; }
  .highlight .bp {
    color: #336666; }
  .highlight .vc {
    color: #003333; }
  .highlight .vg {
    color: #003333; }
  .highlight .vi {
    color: #003333; }
  .highlight .il {
    color: #FF6600; }
