.post-list {

    .hentry {
        @include span-columns(4);
        @include omega(3n+2);

		&:first-child {
            @include span-columns(8);
			.entry-title {
				font-size: rem(50);
				line-height: rem(56);
			}
		}

		.entry-title {
			width: 100%;
		}
	}
}
