/* Tables
 * -----------------------------------------------------------*/

table {
  background-color: $table_bg;
	margin: 0 0 1.5em;
}
caption {
  padding-top: $table-cell-padding;
  padding-bottom: $table-cell-padding;
  color: $color_text_muted;
  text-align: left;
}
th {
  text-align: left;
}


// Baseline styles
.table {
  width: 100%;
  max-width: 100%;
    // Headings
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th {
    			font-family: $font_heading;
    		}
        }
    }
    // Cells
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                padding: $table_cell_padding 0;
                line-height: $line-height-base;
                vertical-align: top;
                &:first-child ~ th,
                &:first-child ~ td {
                    padding-left: $table_cell_padding;
                }
            }
        }
    }
    // Bottom align for column headings
    > thead > tr > th {
        vertical-align: bottom;
    }
    // Remove top border from thead by default
    > caption + thead,
    > colgroup + thead,
    > thead:first-child {
        > tr:first-child {
            > th,
            > td {
                border-top: 0;
            }
        }
    }

    // Nesting
    .table {
        background-color: $table_bg_nested;
    }
}


.table-ruled {
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                border-top: 1px solid $table-border-color;
            }
        }
    }

    > thead > tr > th {
        border-bottom: 2px solid $table-border-color;
    }

    > tbody + tbody {
        border-top: 2px solid $table-border-color;
    }
}

// Bordered version
//
// Add borders all around the table and between all the columns.
.table-bordered {
  border: 1px solid $table-border-color;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border: 1px solid $table-border-color;
        padding: $table_cell_padding;
      }
    }
  }
  > thead > tr {
    > th,
    > td {
      border-bottom-width: 2px;
    }
  }
}


// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.table-striped {
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
              padding: $table_cell_padding;
            }
        }
    }

    > tbody > tr:nth-of-type(odd) {
        background-color: $table-bg-accent;
    }
}


// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.table-hover {
  > tbody > tr:hover {
    background-color: $table-bg-hover;
  }
}
