---
layout: default
---
<div class="doc-content">
    {{ content }}
</div>

<aside class="sidebar">
    <ul class="list-unstyled">
        {% if page.tags == 'brand' %}
            {% for page in site.pages %}
                {% if page.title and page.tags == 'brand' %}
                    <li class="menu-item"><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if page.tags == 'developer' %}
            {% for page in site.pages %}
                {% if page.title and page.tags == 'developer' %}
                    <li class="menu-item"><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if page.tags == 'templates' %}
            {% for page in site.pages %}
                {% if page.title and page.tags == 'templates' %}
                    <li class="menu-item"><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}
    </ul>
</aside>
