---
layout: default
---
<div class="doc-content">
    {{ content }}
</div>

<aside class="sidebar">
    <ul class="list-unstyled">
        {% if page.tags == 'brand' %}
            {% for p in site.pages %}
                {% if p.title and p.tags == 'brand' %}
                    <li class="menu-item {% if page.slug == p.slug %}current{% endif %}"><a class="page-link" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if page.tags == 'developer' %}
            {% for p in site.pages %}
                {% if p.title and p.tags == 'developer' %}
                    <li class="menu-item {% if page.slug == p.slug %}current{% endif %}"><a class="page-link" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if page.tags == 'templates' %}
            {% for p in site.pages %}
                {% if p.title and p.tags == 'templates' %}
                    <li class="menu-item {% if page.slug == p.slug %}current{% endif %}"><a class="page-link" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}
    </ul>
</aside>
