.doc-header {
    background: tint($red, 95%);
    color: $red;
    padding-top: 8rem;
    padding-bottom: 1rem;
    .doc-developer & {
        background: tint($purple, 95%);
        color: $purple;
    }
    .doc-templates & {
        background: tint($copper, 95%);
        color: $copper;
    }
}

.doc-content {
    margin-top: $leading * 2;

    .doc-child & {
        @include media($md) {
            @include span-columns(8);
        }
    }

    & > *:first-child {
        margin-top: 0;
    }

    a {
        text-decoration: underline;
    }
}

.sidebar {
    margin-top: $leading * 2;
    border-top: 1px solid $light_gray;
    @include media($md) {
        @include span-columns(3);
        @include shift(1);
    }

    .doc-brand & { border-top-color: $red; }
    .doc-developer & { border-top-color: $purple; }
    .doc-templates & { border-top-color: $copper; }

    ul {
        padding-top: 0.25rem;
    }

    li {
        &.current {
            a {
                border-left: 1px solid;
                padding-left: 10px;
                margin-left: -11px;
            }
        }
    }

    a {
        display: block;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        font-family: $font_heading;
        padding: 0.25rem 0;
    }
}
