.site-footer {
    margin-top: $leading * 3;
    padding-bottom: $leading;
    color: white;
    background: $red;
    .doc-developer & { background-color: $purple; }
    .doc-templates & { background-color: $copper; }
}
