.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    color: white;

    a {
        color: white;
        font-weight: bold;
        font-family: $font_heading;
        text-transform: uppercase;
        font-size: 0.9rem;
        padding: 1.5em 1em;
        line-height: 1em;
        &:hover, &:focus {
            background-color: darken($red, 10%);
            color: white;
            .doc-developer & { background-color: darken($purple, 10%); }
            .doc-templates & { background-color: darken($copper, 10%); }
        }
    }

    .outer-container {
        background: $red;
        .doc-developer & {
            background: $purple;
        }
        .doc-templates & {
            background: $copper;
        }
    }

}

.site-title {
    float: left;
    margin: 0;
    font-size: 0.9rem;
    a {
        display: block;
    }
}

.site-nav {
    float: right;

    .menu {
        margin: 0;
    }

    li {
        float: left;
        &.current a {
            background-color: darken($red, 10%);
            color: white;
            .doc-developer & { background-color: darken($purple, 10%); }
            .doc-templates & { background-color: darken($copper, 10%); }
        }
    }

    a {
        display: block;
        &:hover, &:focus {
            opacity: 1;
            background-color: darken($red, 10%);
            color: white;
            .doc-developer & {
                background-color: darken($purple, 10%);
            }
            .doc-templates & {
                background-color: darken($copper, 10%);
            }
        }
    }
}
