.doc-header {
    background: tint($red, 95%);
    color: $red;
    padding-top: 8rem;
    padding-bottom: 1rem;
}

.doc-content {
    @include span-columns(8);
}

.sidebar {
    margin-top: $leading * 2;
    border-top: 1px solid $light_gray;
    @include span-columns(4);
}
